blinker==1.7.0
click==8.1.7
colorama==0.4.6
Flask==3.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
Werkzeug==3.0.1
bcrypt==4.0.1
geopy==2.3.0
psycopg[binary]==3.1.8
requests==2.31.0
python-dotenv==1.0.0
better_profanity==0.6.0
sib_api_v3_sdk==8.5.0