@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=SUSE:wght@100..800&display=swap');

:root{
    --fg: #131B23;
    --bg: #F8F4F9;
    --ac: #3C91E6;

    --rlpad: 15vw;
    --brad: 1.5rem;
    --trans: 250ms;
    --tbmar: 3vh;
}

::selection{
    background: var(--ac);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: var(--bg);
}

::-webkit-scrollbar-thumb{
    background: var(--fg);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    overflow-x: hidden;
}

*{
    color: var(--fg);
    font-family: 'GABARITO';
}

.content{
    padding: 0 var(--rlpad);
    padding-top: 10vh;
    flex: 1;
}

/* nav */

.nav{
    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 0 var(--rlpad);
    background: var(--bg);
}

.nav .links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .links *{
    font-size: 1.3rem;
    text-decoration: none;
}

.nav .links .logo{
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'SUSE';
    color: var(--ac);
    font-weight: 700;
    cursor: pointer;
}

/* footer */

.footer{
    width: 100vw;
    box-sizing: border-box;
    padding: 2vh 0;
    background-color: var(--ac);
}

.footer .flinks{
    gap: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .flinks *{
    color: var(--bg);
    text-decoration: none;
    cursor: pointer;
}

.footer .flinks a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75vw;
}

.footer .flinks a img{
    width: 1.5vw;
    filter: brightness(0.9);
}

/* index content */

.banner{
    margin: var(--tbmar) 0;
    margin-top: 5vh;
    aspect-ratio: 4;
    width: 100%;
    background-color: var(--ac);
    border-radius: var(--brad);
    overflow: hidden;
    position: relative;
}

.banner .icon{
    position: absolute;
    inset: auto 0% 0% auto;
}

.banner .icon span{
    font-size: 10rem;
    color: var(--bg);
}

.banner .title-text{
    position: absolute;
    inset: 2vw auto auto 2vw;
    color: var(--bg);
    font-weight: 600;
    font-size: 3rem;
}

.banner .bottom-text{
    position: absolute;
    inset: 6vw auto auto 2vw;
    color: var(--bg);
    font-weight: 400;
    font-size: 1.25rem;
}

.benefit-cards{
    margin: var(--tbmar) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.benefit-cards .card{
    flex: 1;
    background: var(--bg);
    border: 2px solid var(--ac);
    box-sizing: border-box;
    padding: 2vh;
    border-radius: var(--brad);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-cards .card .card-icon span{
    font-size: 4rem;
    margin-bottom: 1vh;
}

.benefit-cards .card .card-title, .benefit-cards a .card .card-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1vh;
    text-decoration: none;
}

.benefit-cards .card .card-text, .benefit-cards a .card .card-text{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1vh;
    text-align: center;
    text-decoration: none;
}

.benefit-header{
    font-size: 2.5rem;
    font-weight: 700;
}

.get-started{
    margin: var(--tbmar) 0;
    /* margin-top: 0; */
    position: relative;
    width: 100%;
    margin-bottom: 5vh;
}

.get-started .icon span{
    color: var(--ac);
    position: absolute;
    inset: auto auto 0% 5%;
    transform: scale(-1, 1);
    rotate: 90deg;
    font-size: 20rem;
}

.get-started .box-text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2vh;
}

.get-started .action-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
}

.get-started .action-btns button, .navbar-cta-btn{
    box-sizing: border-box;
    padding: 2vh 4vh;
    font-size: 1.5rem;
    color: var(--bg);
    background: var(--ac);
    border-radius: calc(0.5*var(--brad));
    border: none;
    outline: none;
    transition: var(--trans);
    cursor: pointer;
}

.navbar-cta-btn{
    padding: 1vh 2vh;
}

.get-started .action-btns button:hover{
    filter: brightness(1.1);
}

/* login form */

.logreg-form{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    /* background-color: green; */
    aspect-ratio: 0.75; /* revise */
    width: 25%;
}

.logreg-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    gap: 1vh;
}

.logreg-form .title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.logreg-form form label, .logreg-form form input, .logreg-form form button{
    width: 75%;
    box-sizing: border-box;
}

.logreg-form form input, .logreg-form form button{
    padding: 1.5vh 2vh;
    outline: none;
    border-radius: calc(var(--brad)/2);
}

.logreg-form form button{
    margin-top: 2vh;
    border: none;
    background: var(--ac);
    color: var(--bg);
    font-size: 1.3rem;
    cursor: pointer;
}

.logreg-form form input{
    border: 2px solid var(--ac);
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--ac);
}

.logreg-form form label:last-of-type{
    margin-top: 2vh;
}

.logreg-form form label{
    font-size: 1.4rem;
    font-weight: 600;
}

.msg{
    width: 75%;
    margin-bottom: 2vh;
    padding: 1vh 0;
    text-align: center;
    background: lightcoral;
    border: 2px solid #d4040d;
    border-radius: calc(var(--brad)/2);
    color: var(--bg);
    font-weight: 600;
    font-size: 1.1rem;
}

/* logged in index banner */

.banner a{
    color: var(--bg);
    cursor: pointer;
}

/* rating form */

.rating-form{
    /* position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%); */
    width: 50%;
    margin: 0 auto;
}

.rating-form form{
    display: flex;
    flex-direction: column;
}

.rating-form form .title{
    font-size: 3rem;
}

.rating-form form .subtitle{
    font-size: 2rem;
}

.rating-form form input, .rating-form form textarea{
    resize: none;
    padding: 1vh;
    border-radius: calc(var(--brad)/2);
    border: 2px solid var(--ac);
    color: var(--fg);
    background: transparent;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.rating-form form label{
    margin: 1vh 0;
    font-weight: 600;
    font-size: 1.3rem;
}

.rating-form form button{
    margin-top: 2vh;
    background-color: var(--ac);
    border: none;
    outline: none;
    padding: 1.5vh 0;
    border-radius: calc(var(--brad)/2);
    color: var(--bg);
    font-size: 1.3rem;
    font-weight: 600;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin: 10px 0 16px;
    background: #ddd;
    border-radius: 4px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.rating-form form *{
    box-sizing: border-box;
}

/* explore page */

#map{
    width: 100%;
    aspect-ratio: 3;
    border-radius: var(--brad);
}

.explore-title{
    font-size: 3rem;
    line-height: 100%;
    margin: 0;
    margin-top: 1vh;
}

.map-tip{
    margin-bottom: 2vh;
}

.toilets-list{
    margin: 2vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vh;
}

.toilets-list .toilet{
    border-radius: var(--brad);
    aspect-ratio: 3;
    background: transparent;
    border: 2px solid var(--ac);
    overflow: hidden;
    padding: 2vh;
    box-sizing: border-box;
}

.toilets-list a{
    text-decoration: none;
}

.toilets-list .toilet .name{
    font-size: 2rem;
    font-weight: 600;
}

/* user profile */

.user-profile{
    width: 100%;
    padding-bottom: 2vh;
}

.user-profile .ratings-header{
    font-size: 1.75rem;
}

.user-profile .rating{
    font-size: 1.25rem;
    line-height: 150%;
}

.users-ratings{
    margin-bottom: 3vh;
}

/* trophy case */

.trophy-case-title{
    font-size: 2rem;
    font-weight: 700;
    margin: 2vh 0;
}

.trophy-case{
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(4, 1fr);
}

.trophy-case .trophy{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trophy-case .trophy img{
    width: 50%;
}

.trophy-case .trophy .name{
    font-size: 1.5rem;
    font-weight: 600;
}

.nomobile{
    display: block;
}

.nopc{
    display: none;
}

/* notifications box */

.notifications-btn{
    position: fixed;
    inset: auto auto 2vw 2vw;
    background: var(--bg);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75vw;
    box-sizing: border-box;
    border: 2px solid var(--ac);
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1;
    width: 5rem;
}

.notifications-btn span{
    font-size: 2rem;
}

.notifications-box{
    background: var(--bg);
    border: 2px solid var(--ac);
    position: fixed;
    inset: auto auto 6vw 2vw;
    max-width: 20%;
    overflow: hidden;
    border-radius: var(--brad);
    visibility: hidden;
}

.notifications-box .notification{
    padding: 1vw;
    width: 100%;
    box-sizing: border-box;
}

.notifications-box .notification:not(:first-of-type){
    border-top: 2px solid var(--ac);
}

.notifications-box .notification .title, .notifications-box .header .count{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 125%;
}

.notifications-box .header{
    padding: 1vw;
    width: 100%;
    display: flex;
    gap: 2vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    filter: brightness(0.975);
    box-sizing: border-box;
}

.notifications-box .header .read-all{
    cursor: pointer;
}

/* leaderboard */

.leaderboard{
    width: 100%;
    padding-bottom: 1vw;
}

.leaderboard .title{
    font-size: 3rem;
    font-weight: 700;
    margin: 1vw 0;
}

.leaderboard .entry{
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    padding: 1.5vw;
    box-sizing: border-box;
}

.leaderboard .entry a{
    text-decoration: none;
    font-weight: 600;
}

.leaderboard .entry:nth-of-type(odd){
    filter: brightness(0.95);
}

/* rate btn */

.rate-btn{
    position: fixed;
    inset: auto 2vw 2vw auto;
    background: var(--bg);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75vw;
    box-sizing: border-box;
    border: 2px solid var(--ac);
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1;
    width: 5rem;
}

.notifications-btn span{
    font-size: 2rem;
}

/* cookie banner */

.cookie-banner{
    position: fixed;
    width: calc(75vw - 2*var(--rlpad));
    aspect-ratio: 4;
    inset: auto auto 15vh 50%;
    transform: translateX(-50%);
    background-color: var(--bg);
    border: 4px solid #d4040d;
    box-sizing: border-box;
    padding: 2vw;
    border-radius: var(--brad);
}

.cookie-banner h1{
    line-height: 100%;
    margin-top: 0;
}

.cookie-banner p{
    font-size: 1.2rem;
}

.cookie-banner button{
    padding: 1vh 3vh;
    box-sizing: border-box;
    font-size: 1.25rem;
    margin-top: 1vh;
    background-color: #d4040d;
    border: none;
    outline: none;
    border-radius: calc(0.5*var(--brad));
    color: var(--bg);
    cursor: pointer;
}

/* login warning spaces, my misrtake */

.username-warning{
    padding: 2vh;
    border: 4px solid #d4040d;
    box-sizing: border-box;
    border-radius: var(--brad);
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    align-items: center;
}

.username-warning span{
    font-size: 5rem;
}

/* error page */

.error-box{
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-box .code{
    font-size: 6rem;
    font-weight: 700;
    color: var(--ac);
}

.error-box .error-comment{
    text-align: center;
    margin-bottom: 1vh;
}

/* responsive design (spooky) */

@media (width < 1650px){
    :root{
        --rlpad: 10vw;
    }
    
    .banner{
        aspect-ratio: 2.5;
    }

    .banner .bottom-text{
        top: 7vw;
    }

    .rating-form{
        width: 75%;
    }
    
    .rating-form form{
        width: 100%;
    }

    .logreg-form{
        width: 50%;
    }

    .notifications-box{
        max-width: 30%;
        inset: auto 2vw 8vw auto;
    }

    .toilets-list .toilet{
        aspect-ratio: 2;
    }

    .footer .flinks a img{
        width: 3vw;
    }
}

@media (width < 1100px){
    :root{
        --rlpad: 5vw;
    }
    
    .banner{
        aspect-ratio: 2.5;
    }
    
    .banner .bottom-text{
        top: 10vw;
    }
    
    .rating-form{
        width: 85%;
        padding-bottom: 2vh;
    }
    
    .logreg-form{
        width: 75%;
    }
    
    .notifications-btn{
        padding: 1.5vw;
    }
    
    .notifications-box .notification, .notifications-box .header{
        padding: 2vw;
    }
    
    .notifications-box{
        max-width: 30%;
        inset: auto 2vw 11vw auto;
    }
    
    .toilets-list{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .toilets-list .toilet{
        aspect-ratio: 1.75;
    }

    .leaderboard div{
        font-size: 1.5rem;
    }

    .cookie-banner{
        width: calc(90vw - 2*var(--rlpad));
        bottom: 5vh;
        aspect-ratio: 3;
        padding: 4vw;
    }
}

@media (width < 700px){
    .nomobile{
        display: none;
    }
    
    .nopc{
        display: block;
    }
    
    .nav .links{
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;
        width: 100%;
        z-index: 1001;
        background: var(--bg);
        inset: auto auto 0 0;
        transform: translateY(99%);
        box-sizing: border-box;
        padding: 1.5vh 0;
    }
    
    .nav .menu-icon{
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
    }
    
    .nav .menu-icon span{
        transition: var(--trans);
    }
    
    .nav .menu-icon span{
        font-size: 2rem;
    }
    
    .banner{
        aspect-ratio: 1;
    }
    
    .banner .title-text{
        inset: 5vw auto auto 5vw;
        width: calc(100% - 10vw);
        font-size: 2.5rem;
    }
    
    .banner .bottom-text{
        inset: auto auto 5vw 5vw;
        width: 50%;
        font-size: 1rem;
    }
    
    .rating-form form .title{
        font-size: 2rem;
    }
    
    #map{
        aspect-ratio: 1;
    }
    
    .logreg-form{
        width: 90%;
    }
    
    .toilets-list{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .toilets-list .toilet{
        aspect-ratio: 2.5;
    }

    .leaderboard .entry{
        padding: 5vw;
    }

    .benefit-cards, .trophy-case{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2vh;
    }

    .banner .icon{
        inset: auto 3vw 3vw auto;
    }

    .banner .icon span{
        font-size: 7.5rem;
    }

    .rate-btn{
        inset: auto 4vw 4vw auto;
        width: 4rem;
    }

    .cookie-banner{
        width: calc(100vw - 2*var(--rlpad));
        aspect-ratio: 2;
    }
}