@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Outfit:wght@100..900&display=swap'); /*might switch to outfit, not sure yet*/

:root{
    --fg: #131B23;
    --bg: #F8F4F9;
    --ac: #3C91E6;
    --bgd: #d4d4d4;
    --bgd2: #bababa;

    --rlpad: 15vw;
    --brad: 1.5rem;
    --trans: 250ms;
    --tbmar: 3vh;
}

::selection{
    background: var(--ac);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: var(--bg);
}

::-webkit-scrollbar-thumb{
    background: var(--fg);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    overflow-x: hidden;
}

*{
    color: var(--fg);
    font-family: 'GABARITO', 'Rubik', sans-serif;
}

.content{
    padding: 0 var(--rlpad);
    padding-top: 10vh;
    flex: 1;
}

/* nav */

.nav{
    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 0 var(--rlpad);
    background: var(--bg);
}

.nav .links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .links a.nomobile:not(.logo){
    font-size: 1.4rem;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: calc(1.5 * var(--brad));
    padding: 1vh 2.25vh;
    border: 3px solid transparent;
    transition: 350ms ease-in;
    font-weight: 500;
}

.nav .links a.nomobile:not(.logo):hover{
    background-color: var(--fg);
    color: var(--bg);
}

.nav-login-btn{
    background-color: var(--fg);
    color: var(--bg);
}

.nav .links .nav-login-btn:hover{
    color: var(--fg);
    background-color: var(--bg);
    border-color: var(--fg);
}

.nav .links .logo{
    text-decoration: none;
}

.nav .links .logo div{
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'SUSE';
    color: var(--ac);
    font-weight: 700;
    cursor: pointer;
}

/* footer */

.footer{
    width: 100vw;
    box-sizing: border-box;
    padding: 2vh 0;
    background-color: var(--ac);
}

.footer .flinks{
    gap: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .flinks *{
    color: var(--bg);
    text-decoration: none;
    cursor: pointer;
}

.footer .flinks a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75vw;
}

.footer .flinks a img{
    width: 1.5vw;
    filter: brightness(0.9);
}

/* index content */

.banner{
    margin: var(--tbmar) 0;
    margin-top: 5vh;
    aspect-ratio: 4;
    width: 100%;
    background-color: var(--bg);
    border-radius: var(--brad);
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid var(--ac);
    position: relative;
}

.banner .icon{
    position: absolute;
    inset: auto 0% 0% auto;
}

.banner .icon span{
    font-size: 10rem;
    color: var(--ac);
}

.banner .title-text{
    position: absolute;
    inset: 2vw auto auto 2vw;
    color: var(--fg);
    font-weight: 600;
    font-size: 3rem;
}

.banner .bottom-text{
    position: absolute;
    inset: 6vw auto auto 2vw;
    color: var(--fg);
    font-weight: 400;
    font-size: 1.25rem;
}

.benefit-cards{
    margin: var(--tbmar) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.benefit-cards .card{
    flex: 1;
    background: var(--bg);
    border: 2px solid var(--bgd);
    box-sizing: border-box;
    padding: 2vh;
    border-radius: var(--brad);
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.benefit-cards .card .card-icon{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-cards .card .card-icon span{
    font-size: 7rem;
    margin-bottom: 1vh;
    color: var(--ac);
    opacity: 0.7;
    transition: 250ms;
}

.benefit-cards .card:hover .card-icon span{
    opacity: 1;
    /* background-color: red; */
}

.benefit-cards .card .card-texts{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.benefit-cards .card .card-title, .benefit-cards a .card .card-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1vh;
    text-align: left;
    text-decoration: none;
}

.benefit-cards .card .card-text, .benefit-cards a .card .card-text{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1vh;
    text-align: left;
    text-decoration: none;
}

.benefit-header{
    font-size: 2.5rem;
    font-weight: 700;
}

.get-started{
    margin: var(--tbmar) 0;
    /* margin-top: 0; */
    position: relative;
    width: 100%;
    margin-bottom: 5vh;
}

.get-started .icon span{
    color: var(--ac);
    position: absolute;
    inset: auto auto 0% 5%;
    transform: scale(-1, 1);
    rotate: 90deg;
    font-size: 20rem;
}

.get-started .box-text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2vh;
}

.get-started .action-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
}

.get-started .action-btns button, .navbar-cta-btn{
    box-sizing: border-box;
    padding: 2vh 4vh;
    font-size: 1.5rem;
    color: var(--bg);
    background: var(--ac);
    border-radius: calc(0.5*var(--brad));
    border: none;
    outline: none;
    transition: var(--trans);
    cursor: pointer;
}

.navbar-cta-btn{
    padding: 1vh 2vh;
}

.get-started .action-btns button:hover{
    filter: brightness(1.1);
}

/* login form */

.logreg-form{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 0.8; /* revise */ /* nuh uh it works just fine */
    width: 25%;
}

.logreg-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    gap: 1vh;
    width: 100%;
}

.logreg-form .title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.logreg-form form label, .logreg-form form input, .logreg-form form button{
    width: 75%;
    box-sizing: border-box;
}

.logreg-form form input, .logreg-form form button{
    padding: 1.5vh 2vh;
    outline: none;
    border-radius: calc(var(--brad)/2);
}

.logreg-form form button{
    margin-top: 2vh;
    border: none;
    background: var(--ac);
    color: var(--bg);
    font-size: 1.3rem;
    cursor: pointer;
}

.logreg-form form button span{
    color: var(--bg);
    font-size: 2rem;
}

.logreg-form form input{
    border: 2px solid var(--ac);
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--ac);
}

/* .logreg-form form label:last-of-type{
    margin-top: 2vh;
} */

.logreg-form form label{
    font-size: 1.4rem;
    font-weight: 600;
}

.msg{
    width: 75%;
    margin-bottom: 2vh;
    padding: 1vh 0;
    text-align: center;
    background: lightcoral;
    border: 2px solid #d4040d;
    border-radius: calc(var(--brad)/2);
    color: var(--bg);
    font-weight: 600;
    font-size: 1.1rem;
}

/* logged in index banner */

.banner a{
    color: var(--bg);
    cursor: pointer;
}

/* rating form */

.rating-form{
    /* position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%); */
    width: 50%;
    margin: 0 auto;
}

.rating-form form{
    display: flex;
    flex-direction: column;
}

.rating-form form .title{
    font-size: 3rem;
}

.rating-form form .subtitle{
    font-size: 2rem;
}

.rating-form .msg{
    width: 100%;
}

.rating-form form input, .rating-form form textarea{
    resize: none;
    padding: 1vh;
    border-radius: calc(var(--brad)/2);
    border: 2px solid var(--ac);
    color: var(--fg);
    background: transparent;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.rating-form form label{
    margin: 1vh 0;
    font-weight: 600;
    font-size: 1.3rem;
}

.rating-form form button{
    margin-top: 2vh;
    background-color: var(--ac);
    border: none;
    outline: none;
    padding: 1.5vh 0;
    border-radius: calc(var(--brad)/2);
    color: var(--bg);
    font-size: 1.3rem;
    font-weight: 600;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin: 10px 0 16px;
    background: #ddd;
    border-radius: 4px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.rating-form form *{
    box-sizing: border-box;
}

/* explore page */

#map{
    width: 100%;
    aspect-ratio: 2.5 !important;
    border-radius: var(--brad);
    position: relative;
}

.explore-title{
    font-size: 3rem;
    line-height: 100%;
    margin: 0;
    margin-top: 1vh;
}

.map-tip{
    margin-bottom: 2vh;
}

.toilets-list{
    margin: 2vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vh;
}

.toilets-list .toilet{
    border-radius: var(--brad);
    aspect-ratio: 3;
    background: transparent;
    border: 2px solid var(--bgd);
    overflow: hidden;
    padding: 2vh;
    box-sizing: border-box;
    transition: 250ms;

    display: grid;
    grid-template-columns: 66% 33%;
    gap: 1vh;
    width: 100%;
}

.toilets-list a{
    text-decoration: none;
}

.toilets-list .toilet .toilet-data{
    width: 100%;
}

.toilets-list .toilet .toilet-data .name{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5vh;
}

.toilets-list .toilet .toilet-icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toilets-list .toilet .toilet-icon span{
    font-size: 7rem;
    color: var(--ac);
}

.toilets-list .toilet:hover .toilet-icon span{
    filter: saturate(1) !important;
}

.at-mention{
    font-weight: 600;
    text-decoration: underline;
}

/* user profile */

.user-profile{
    width: 100%;
    padding-bottom: 2vh;
}

.user-profile .ratings-header{
    font-size: 1.75rem;
}

.user-profile .rating{
    font-size: 1.25rem;
    line-height: 150%;
}

.users-ratings{
    margin-bottom: 3vh;
}

/* trophy case */

.trophy-case-title{
    font-size: 2rem;
    font-weight: 700;
    margin: 2vh 0;
}

.trophy-case{
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(4, 1fr);
}

.trophy-case .trophy{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trophy-case .trophy img{
    width: 50%;
}

.trophy-case .trophy .name{
    font-size: 1.5rem;
    font-weight: 600;
}

.nomobile{
    display: block;
}

.nopc{
    display: none !important;
}

/* notifications box */

.notifications-btn{
    position: fixed;
    inset: auto auto 2vw 2vw;
    background: var(--bg);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75vw;
    box-sizing: border-box;
    border: 2px solid var(--ac);
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1;
    width: 5rem;
}

.notifications-btn span{
    font-size: 2rem;
}

.notifications-box{
    background: var(--bg);
    border: 2px solid var(--ac);
    position: fixed;
    inset: auto auto 6vw 2vw;
    max-width: 20%;
    overflow: hidden;
    border-radius: var(--brad);
    visibility: hidden;
}

.notifications-box .notification{
    padding: 1vw;
    width: 100%;
    box-sizing: border-box;
}

.notifications-box .notification:not(:first-of-type){
    border-top: 2px solid var(--ac);
}

.notifications-box .notification .title, .notifications-box .header .count{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 125%;
}

.notifications-box .header{
    padding: 1vw;
    width: 100%;
    display: flex;
    gap: 2vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    filter: brightness(0.975);
    box-sizing: border-box;
}

.notifications-box .header .read-all{
    cursor: pointer;
}

/* leaderboard */

.leaderboard{
    width: 100%;
    padding-bottom: 1vw;
}

.leaderboard .title{
    font-size: 3rem;
    font-weight: 700;
    margin: 1vw 0;
}

.leaderboard .entry{
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    padding: 1.5vw;
    box-sizing: border-box;
}

.leaderboard .entry a{
    text-decoration: none;
    font-weight: 600;
}

.leaderboard .entry:nth-of-type(odd){
    filter: brightness(0.95);
}

/* rate btn */

.rate-btn{
    position: fixed;
    inset: auto 2vw 2vw auto;
    background: var(--bg);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75vw;
    box-sizing: border-box;
    border: 2px solid var(--ac);
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1;
    width: 5rem;
}

.notifications-btn span{
    font-size: 2rem;
}

/* cookie banner */

.cookie-banner{
    position: fixed;
    width: calc(75vw - 2*var(--rlpad));
    aspect-ratio: 4;
    inset: auto auto 15vh 50%;
    transform: translateX(-50%);
    background-color: var(--bg);
    border: 4px solid #d4040d;
    box-sizing: border-box;
    padding: 2vw;
    border-radius: var(--brad);
}

.cookie-banner h1{
    line-height: 100%;
    margin-top: 0;
}

.cookie-banner p{
    font-size: 1.2rem;
}

.cookie-banner button{
    padding: 1vh 3vh;
    box-sizing: border-box;
    font-size: 1.25rem;
    margin-top: 1vh;
    background-color: #d4040d;
    border: none;
    outline: none;
    border-radius: calc(0.5*var(--brad));
    color: var(--bg);
    cursor: pointer;
}

/* login warning spaces, my misrtake */

.username-warning{
    padding: 2vh;
    border: 4px solid #d4040d;
    box-sizing: border-box;
    border-radius: var(--brad);
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    align-items: center;
}

.username-warning span{
    font-size: 5rem;
}

/* error page */

.error-box{
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-box .code{
    font-size: 6rem;
    font-weight: 700;
    color: var(--ac);
}

.error-box .error-comment{
    text-align: center;
    margin-bottom: 1vh;
}

/* banner after rating */

.rated-banner{
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    aspect-ratio: 3;
    background-color: var(--bg);
    border: 2px solid var(--ac);
    border-radius: var(--brad);
    box-sizing: border-box;
    padding: 1vw 2vw;
    z-index: 10000;
}

.rated-banner .rated-close-btn{
    position: absolute;
    inset: 1vh 1vh auto auto;
    font-size: 2rem;
    cursor: pointer;
}

/* language switcher */

.lang-switch{
    position: absolute;
    inset: 5vh 5vh auto auto;
    transform: translateY(-50%);
    aspect-ratio: 1;
    width: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-switch .current-lang{
    font-size: 2rem;
    width: 100%;
    max-height: 100%;
}

.lang-switch:hover .lang-list{
    visibility: visible;
}

.lang-list:hover{
    visibility: visible;
}

.lang-switch .lang-list{
    padding-top: .2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    inset: auto auto 0 50%;
    transform: translate(-50%, 100%);
    z-index: 1000;
    width: 3vh;
    gap: .2vh;
    visibility: hidden;
}

.lang-switch .lang-list a{
    width: 100%;
    height: auto;
}

.lang-switch .lang-list a img{
    width: 100%;
}

/* disabled button, in context: form with invalid location */

button:disabled{
    filter: saturate(0);
    cursor: not-allowed;
}

/* toilet subpage redesign attempt */

.avg-ratings{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.avg-ratings .rating-item{
    text-decoration: none;
    list-style: none;
    flex: 1;
    /* background-color: var(--bgd); */
    border: 2px solid var(--bgd);
    border-radius: calc(0.75*var(--brad));
    /* aspect-ratio: 1; */
    box-sizing: border-box;
    padding: 1.5vh;
}

.avg-ratings .rating-item span{
    padding: .25vh;
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
    width: 100%;
}

.avg-ratings .rating-item .avg-criteria{
    text-align: center !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.avg-ratings .rating-item .avg-criteria-value{
    text-align: center !important;
    font-size: 1.5rem;
    font-weight: bold;
}

/* comments */

.comments-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    padding-bottom: 2vh;
}

.comments-list .comment-item{
    border: 2px solid var(--bgd);
    border-radius: calc(0.75*var(--brad));
    /* aspect-ratio: 1; */
    box-sizing: border-box;
    padding: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    aspect-ratio: 3;
}

.comments-list .comment-item .comment-data{
    width: 66%;
    height: 100%;
}

.comments-list .comment-item .comment-publisher{
    font-size: 1.5rem;
    margin-bottom: .5vh;
}

.comments-list .comment-item .comment-publisher a{
    text-decoration: none !important;
}

.comments-list .comment-item .comment-avg-icon{
    width: 33%;
    height: 100%;
    position: relative;
}

.comments-list .comment-item .comment-avg-icon .comment-avg-icon-star{
    font-size: 4rem;
    position: absolute;
    inset: 0% auto auto 50%;
    transform: translate(-50%, 0%);
}

.comments-list .comment-item .comment-avg-icon .avg-comment-rating{
    font-size: 2rem;
    position: absolute;
    inset: auto auto 0% 50%;
    transform: translate(-50%, -0%);
}

.comments-list .comment-item .comment-value{
    font-style: italic;
    font-size: 1.1rem;
}

.get-me-there{
    aspect-ratio: 1;
    width: 5rem;
    border-radius: 0 50% 0 0;
    background-color: var(--bg);
    position: absolute;
    inset: auto auto 0 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.get-me-there span{
    font-size: 3rem;
    color: var(--fg);
    font-variation-settings: 'wght' 600;
    /* background-color: red; */
}

/* responsive design (spooky) */

@media (width < 1650px){
    :root{
        --rlpad: 10vw;
    }
    
    .banner{
        aspect-ratio: 2.5;
    }

    .banner .bottom-text{
        top: 7vw;
    }

    .rating-form{
        width: 75%;
    }

    .logreg-form{
        width: 50%;
    }

    .notifications-box{
        max-width: 30%;
        inset: auto auto 9vw 2vw;
    }

    .toilets-list .toilet{
        aspect-ratio: 2;
    }

    .footer .flinks a img{
        width: 3vw;
    }

    .comment-item{
        aspect-ratio: 1.8 !important;
    }

    /* start page cards */

    .benefit-cards .card{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0;
    }
    
    .benefit-cards .card .card-icon{
        width: 100%;
        height: fit-content;
    }
    
    .benefit-cards .card .card-icon span{
        font-size: 3rem;
        margin-bottom: 1vh;
        color: var(--fg);
        opacity: 1;
    }

    .benefit-cards .card .card-texts{
        width: 100%;
        height: fit-content;
    }

    .benefit-cards .card .card-title, .benefit-cards a .card .card-title{
        text-align: center;
        font-size: 1.75rem;
    }
    
    .benefit-cards .card .card-text, .benefit-cards a .card .card-text{
        text-align: center;
    }
}

@media (width < 1100px){
    :root{
        --rlpad: 5vw;
    }
    
    .banner{
        aspect-ratio: 2.5;
    }
    
    .banner .bottom-text{
        top: 10vw;
    }
    
    .rating-form{
        width: 85%;
        padding-bottom: 2vh;
    }
    
    .logreg-form{
        width: 75%;
    }
    
    .notifications-btn{
        padding: 1.5vw;
    }
    
    .notifications-box .notification, .notifications-box .header{
        padding: 2vw;
    }
    
    .notifications-box{
        max-width: 30%;
        inset: auto auto 11vw 2vw;
    }
    
    .toilets-list{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .toilets-list .toilet{
        aspect-ratio: 1.75;
    }

    .leaderboard div{
        font-size: 1.5rem;
    }

    .cookie-banner{
        width: calc(90vw - 2*var(--rlpad));
        bottom: 5vh;
        aspect-ratio: 3;
        padding: 4vw;
    }

    .rated-banner{
        width: 50%;
        aspect-ratio: 2;
    }

    .lang-switch{
        inset: .5vh .5vh auto auto;
        transform: translateY(0);
    }

    .error-box{
        width: 85%;
    }
    
    .error-box .code{
        font-size: 3rem;
    }
    
    /* .error-box .error-comment{
        text-align: center;
        margin-bottom: 1vh;
    } */
}

@media (width < 850px){    
    .nomobile{
        display: none !important;
    }

    .nopc{
        display: block !important;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .nav{
        position: fixed !important;
        inset: auto auto 0 50%;
        height: 14vh;
        background-color: var(--ac);
        transform: translate(-50%, -0%);
        box-sizing: border-box;
        border-radius: var(--brad) var(--brad) 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 !important;
    }

    .nav .link.nopc{
        flex: 1;
        position: relative;
        box-sizing: border-box;
    }

    .nav .links a.nopc, .nav .links a.nopc:hover{
        background-color: transparent !important;
        border: 0px solid transparent !important;
    }
    
    .nav .link.nopc span{
        box-sizing: border-box;
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        font-size: 1.75rem; 
        color: var(--bg);
        transition: 250ms;
    }
    
    /* .nav .link.nopc span:hover{
        font-size: 2rem;
    } */

    .nav .link.nopc.rate-link span{
        aspect-ratio: 1;
        background-color: var(--fg) !important;
        padding: 2vh !important;
        border-radius: 50%;
        font-size: 2.25rem;
    }

    .content{
        padding-top: 0;
        padding-bottom: 5vh;
    }

    .banner{
        margin-top: var(--rlpad);
    }
    
    .nav .menu-icon{
        display: none;
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
    }
    
    .nav .menu-icon span{
        transition: var(--trans);
    }
    
    .nav .menu-icon span{
        font-size: 2rem;
    }
    
    .banner{
        aspect-ratio: 1;
    }
    
    .banner .title-text{
        inset: 5vw auto auto 5vw;
        width: calc(100% - 10vw);
        font-size: 2.5rem;
    }
    
    .banner .bottom-text{
        inset: auto auto 5vw 5vw;
        width: 50%;
        font-size: 1rem;
    }
    
    .rating-form form .title{
        font-size: 2rem;
    }
    
    #map{
        aspect-ratio: 1 !important;
    }
    
    .logreg-form{
        width: 90%;
    }
    
    .toilets-list{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .toilets-list .toilet{
        aspect-ratio: 1.5;
    }

    .leaderboard .entry{
        padding: 5vw;
    }

    .benefit-cards, .trophy-case{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2vh;
    }

    .banner .icon{
        inset: auto 3vw 3vw auto;
    }

    .banner .icon span{
        font-size: 7.5rem;
    }

    .rate-btn{
        inset: auto 4vw 4vw auto;
        width: 4rem;
    }

    .cookie-banner{
        width: calc(100vw - 2*var(--rlpad));
        aspect-ratio: 2;
        bottom: 15vh;
    }

    .cookie-banner button{
        width: 100%;
    }

    .rated-banner{
        width: 85%;
        padding: 1vh 2vh;
    }

    .lang-switch{
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, 50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vh;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        box-sizing: border-box;
        border: 3px solid var(--ac);
        border-bottom: none;
        border-radius: var(--brad) var(--brad) 0 0;
        transition: 250ms;
    }
    
    .lang-list{
        position: static !important;
        display: flex;
        flex-direction: row !important;
        gap: 1vh !important;
        height: 100%;
        width: fit-content !important;
        visibility: visible !important;
        transform: translate(0, 0) !important;
    }

    .lang-list a{
        flex: 1;
    }

    .lang-switch img{
        width: 3vh !important;
    }

    .logreg-form{
        inset: var(--rlpad) auto auto auto;
        transform: translate(0, 0);
    }

    /* toilet page */

    .avg-ratings{
        gap: .5vh;
    }

    .avg-ratings .rating-item span{
        aspect-ratio: 1;
    }

    .comments-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .comments-list .comment-item .comment-avg-icon .avg-comment-rating{
        font-size: 2rem;
        position: absolute;
        inset: auto auto 0% 50%;
        transform: translate(-50%, -50%);
    }
}