<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-7897701212361213">
    <title>go2klo</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7897701212361213"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div class="nav">
        <div class="nopc nomobile menu-icon" onmousedown="mobileMenu()" data-collapsed="1">
            <span class="material-symbols-rounded menu-icon-span">menu</span>
        </div>
        <div class="links">
            <a href="/" class="link nomobile">{{ts["nav_logo"]}}</a>
            <a href="/" class="link nopc">
                <span class="material-symbols-rounded">home</span>
            </a>
            <a href="/explore" class="link nomobile">{{ts["nav_explore"]}}</a>
            <a href="/explore" class="link nopc">
                <span class="material-symbols-rounded">map</span>
            </a>
            
            <a href="/" class="nomobile logo">
                <div class="logo">
                    go2klo
                </div>
            </a>
            
            <a href="/rate" class="link nomobile">{{ts["nav_rate"]}}</a>
            <a href="/rate" class="link nopc rate-link">
                <span class="material-symbols-rounded">add</span>
            </a>
            <a href="/leaderboard" class="link nopc">
                <span class="material-symbols-rounded">leaderboard</span>
            </a>
            {% if session.logged_in != True %}
            <a href="/login" class="nomobile nav-login-btn">Login</a>
            <a href="/login" class="link nopc">
                <span class="material-symbols-rounded">login</span>
            </a>
            {% else %}
            <a href="/myprofile" class="link nomobile">{{ts["nav_profile"]}}</a>
            <a href="/myprofile" class="link nopc">
                <span class="material-symbols-rounded">person</span>
            </a>
            {% endif%}

            {% set langs = ["english", "german", "italian", "bulgarian", "french", "spanish", "norwegian", "albanian", "austrian"] %}
            <div class="lang-switch nomobile">
                {% set lang = session.lang %}
                <img class="current-lang" src="{{ url_for('static', filename='icons/' + lang + '.svg') }}" alt="{{ l }}">
            
                <div class="lang-list">
                    {% for l in langs %}
                        {% if l != lang %}
                            <a href="/switchlang/{{l}}">
                                <img src="{{ url_for('static', filename='icons/' + l + '.svg') }}" alt="{{ l }}">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <div class="footer">
        <div class="flinks">
            <a href="https://github.com/czett/go2klo" class="link" target="_blank">
                <img src="{{url_for('static', filename='img/github.png')}}" alt="">
                <p>czett</p>
            </a>
        </div>
    </div>
    {% endblock %}

    {% block notifications %}
        {% if session.logged_in == True %}
            <div class="notifications-btn nomobile" onmousedown="notiToggler()">
                {% if session.notifications|length > 0 %}
                <span class="open-nots material-symbols-rounded">notifications_active</span>
                {% else %}
                <span class="open-nots material-symbols-rounded">notifications</span>
                {% endif%}
            </div>
            <div class="notifications-box nomobile" data-collapsed="1">
                <div class="header">
                    <div class="count">{{session.notifications|length}} Notifications</div>
                    <a href="/clear-notifications">
                        <span class="read-all material-symbols-rounded">done_all</span>
                    </a>
                </div>
                {% for notification in session.notifications %}
                    <div class="notification">
                        <div class="title">{{notification.title}}</div>
                        <div class="text">{{notification.text}}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif%}
    {% endblock %}
    
    {% block postbtn %}
        {% if session.logged_in == True %}
            <a href="/rate">
                <div class="rate-btn">
                    <span class="material-symbols-rounded">library_add</span>
                </div>
            </a>
        {% endif%}
    {% endblock %}

    {% block cookies %}
        {% if session.cookies == False %}
            <div class="cookie-banner">
                <h1 class="cookie-title">
                    {{ts["cookie_title"]}}
                </h1>
                <p class="cookie-subtitle">
                    {{ts["cookie_msg"]}}
                </p>
                <a href="/accept-cookies">
                    <button>{{ts["cookie_accept"]}}</button>
                </a>
            </div>
        {% endif%}
    {% endblock %}

    <script>
        function mobileMenu(){
            iconBtn = document.querySelector(".menu-icon");
            // let state = iconBtn.dataset.collapsed;

            if (iconBtn.dataset.collapsed == "1"){
                document.querySelector(".links").style.visibility = "visible";
                document.querySelector(".lang-list").style.visibility = "visible";
                document.querySelector(".menu-icon-span").style.rotate = "90deg";
                iconBtn.dataset.collapsed = "0";
            }else{
                document.querySelector(".links").style.visibility = "hidden";
                document.querySelector(".lang-list").style.visibility = "hidden";
                document.querySelector(".menu-icon-span").style.rotate = "0deg";
                iconBtn.dataset.collapsed = "1";
            }
        }

        function notiToggler(){
            const box = document.querySelector(".notifications-box");

            if (box.dataset.collapsed == "1"){
                box.style.visibility = "visible";
                box.dataset.collapsed = "0";
            }else{
                box.style.visibility = "hidden";
                box.dataset.collapsed = "1";
            }
        }
    </script>
</body>
</html>