{% extends "base.html" %}

{% block content %}
<div class="article-img">
    <img src="{{article.img}}" alt="">
</div>
<p>{{ts.by}} <a href="/p/{{article.author_username}}">{{article.author_username}}</a>, {{article.created_at}}</p>
<div id="article-content" class="article-content"></div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
    const markdownText = `{{ article.text | safe }}`;

    marked.setOptions({
        gfm: true,
        breaks: true,
        sanitize: true
    });

    const htmlContent = marked.parse(markdownText);

    const articleContentElement = document.getElementById('article-content');
    if (articleContentElement) {
        articleContentElement.innerHTML = htmlContent;
    } else {
        console.error("Fehler: HTML-Element mit der ID 'article-content' wurde nicht gefunden.");
    }
</script>
{% endblock %}