{% extends "base.html" %}

{% block content %}
<div class="article-img">
    <img src="{{article.img}}" alt="">
</div>

<div class="heading-with-icon article-page-title" style="margin-top: 2vh;">
    <!-- dont feel like we neeed the icon atm -->
    <!-- <span class="material-symbols-rounded">summarize</span> -->
    <div class="section-heading">{{article.title}}</div>
</div>

<p>{{ts.by}} <a href="/p/{{article.author_username}}">{{article.author_username}}</a>, {{ts.posted_on}} {{article.created_at}}</p>
<div id="article-content" class="article-content"></div>

{% if article.published != True %}
<div class="article-mod-actions">
    <a href="/blog/mod/approve/{{article.slug}}" class="mod-action-approve">
        {{ts.approve}}
    </a>
    <a href="/blog/mod/reject/{{article.slug}}" class="mod-action-reject">
        {{ts.reject}}
    </a>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
    const markdownText = `{{ article.text | safe }}`;

    marked.setOptions({
        gfm: true,
        breaks: true,
        sanitize: true
    });

    const htmlContent = marked.parse(markdownText);

    const articleContentElement = document.getElementById('article-content');
    if (articleContentElement) {
        articleContentElement.innerHTML = htmlContent;
    } else {
        console.error("Fehler: HTML-Element mit der ID 'article-content' wurde nicht gefunden.");
    }
</script>
{% endblock %}