{% extends "base.html" %}

{% block content %}
<!-- <h1 class="explore-title">{{ts["title"]}}</h1> stolen from explore page excuse my laziness to rename class -->

<div class="heading-with-icon">
    <span class="material-symbols-rounded fire-icon">local_fire_department</span>
    <div class="section-heading">{{ts["hot_articles"]}}</div>
</div>

<div class="articles">
    {% for article in hot_articles %}
      <a href="/blog/p/{{article.slug}}" style="text-decoration: none;">
        <div class="article">
            <div class="article-icon">
                <span class="material-symbols-rounded">newspaper</span>
            </div>
            <div class="article-data">
                <!-- <div class="article-title">{{ts["title"]}}</div> -->
                <div class="article-title">{{article.title}}</div>
                <div class="article-author">{{article.author_username}}</div>
                <div class="article-views">
                    <span class="material-symbols-rounded">visibility</span> {{article.views}}
                </div>
          </div>
      </div>
      </a>
    {% endfor %}
</div>

<div class="heading-with-icon">
    <span class="material-symbols-rounded">update</span>
    <div class="section-heading">{{ts["newest"]}}</div>
</div>

<div class="articles">
    {% for article in newest_articles %}
    <a href="/blog/p/{{article.slug}}" style="text-decoration: none;">
        <div class="article">
            <div class="article-icon">
                <span class="material-symbols-rounded">newspaper</span>
            </div>
            <div class="article-data">
               <!-- <div class="article-title">{{ts["title"]}}</div> -->
                <div class="article-title">{{article.title}}</div>
                <div class="article-author">{{article.author_username}}</div>
                <div class="article-views">
                    <span class="material-symbols-rounded">visibility</span> {{article.views}}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div class="explore-search">
    <div class="search-title">
        {{ts["search-title"]}}
    </div>
    <form action="/blog/search" enctype="multipart/form-data" method="post">
        <input type="text" name="query" placeholder="{{ts['search-placeholder']}}" required>
        <button type="submit">{{ts['search-button']}}</button>
    </form>
</div>

{% if search_results %}
<div class="articles">
    {% for article in search_results %}
    <a href="/blog/p/{{article.slug}}" style="text-decoration: none;">
        <div class="article">
            <div class="article-icon">
                <span class="material-symbols-rounded">newspaper</span>
            </div>
            <div class="article-data">
               <!-- <div class="article-title">{{ts["title"]}}</div> -->
                <div class="article-title">{{article.title}}</div>
                <div class="article-author">{{article.author_username}}</div>
                <div class="article-views">
                    <span class="material-symbols-rounded">visibility</span> {{article.views}}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}

<!-- search reults here in a minute -->

{% endblock %}