{% extends "base.html" %}

{% block content %}

<div class="error-box">
    <div class="error">
        <div class="code">{{code}}</div>
    </div>
    <div class="error-comment">I'll try to code better next time around :) <br>good thing this is early access :o</div>
    <div class="back-to-home"><a href="/">go back home</a></div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
{% block navbar %}
{% endblock %}

{% block notifications %}
{% endblock %}
{% block postbtn %}
{% endblock %}