{% extends "base.html" %}

{% block content %}

<div class="rating-form">
    <form action="/rate/process" enctype="multipart/form-data" method="post">
        <h2 class="title">{{ts["title"]}}</h2>
        
        {% if msg != None %}
            <div class="logreg-msg msg">{{msg}}</div>
        {% endif %} 

        <input type="text" name="location_query" required placeholder="{{ts['input_placeholder']}}" maxlength="30" id="location_str">
    
        {% if msg != None %}
            <button type="submit" disabled>{{ts["submit"]}}</button>
        {% else %}
            <button type="submit">{{ts["submit"]}}</button>
        {% endif %}    
    </form>
</div>

{% if rating_coords != None %}
<script>
document.getElementById("location_str").value = "{{rating_coords}}";
</script>
{% endif %}

{% endblock %}

{% block notifications %}
{% endblock %}
{% block postbtn %}
{% endblock %}