{% extends "base.html" %}

{% block content %}

{% if not session["logged_in"] %}
<div class="username-warning">
    <span class="material-symbols-rounded">warning</span>
    <h2>If you registered with spaces in your name, try logging in without them. They were now removed in the database. For example: "Joe Public" turns into "JoePublic"</h2>
</div>
<div class="banner">
    <div class="title-text">Scared of toilets? Not anymore!</div>
    <div class="bottom-text">Join go2klo now to rate toilets and always know where to go</div>
    <div class="icon">
        <span class="material-symbols-rounded">wc</span>
    </div>
</div>
{% endif %}

{% if session["logged_in"] %}
<div class="banner">
    <div class="title-text">Got something to share?</div>
    <div class="bottom-text"><a href="/rate">Start rating</a> toilets now or explore nearby ones <a href="/explore">here</a>!</div>
    <div class="icon">
        <span class="material-symbols-rounded">share_location</span>
    </div>
</div>
{% endif %}

<div class="benefit-header">Why should you use go2klo?</div>

<div class="benefit-cards">
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">warning</span>
        </div>
        <div class="card-title">Crisis Prevention</div>
        <div class="card-text">No more praying to the porcelain gods in a horror-movie restroom - go2klo is the guardian angel of desperate bladders everywhere.</div>
    </div>
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">map</span>
        </div>
        <div class="card-title">Toilet Tourism</div>
        <div class="card-text">Discover hidden gems of the loo world, from throne-like seats to bathrooms with views. Who knew “Best Flush” could be a thing?</div>
    </div>
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">star</span>
        </div>
        <div class="card-title">Yelp for Your Rear End</div>
        <div class="card-text">Finally, an app that takes your bottom's comfort as seriously as it deserves. Crowdsourced toilet wisdom for the win!</div>
    </div>
</div>

<div class="benefit-header">Explore go2klo!</div>

<div class="benefit-cards">
    <a href="/leaderboard" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">leaderboard</span>
            </div>
            <div class="card-title">Leaderboard</div>
            <div class="card-text">The leaderboard showcases the most active users in the community, ranked by the number of ratings they’ve contributed. Compete with others to climb the ranks and earn achievements as you share your reviews!</div>
        </div>
    </a>
    <a href="/explore" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">public</span>
            </div>
            <div class="card-title">Explore the map</div>
            <div class="card-text">The exploring map allows you to discover toilets near your location, complete with user reviews and ratings. Navigate effortlessly to find the cleanest and most private spots around you!</div>
        </div>
    </a>
</div>

{% if rated[0] %}
<div class="rated-banner">
    <h2 class="rated-title">{{rated[1]}}</h2>
    <a href="/explore">keep exploring here!</a>
    <div class="rated-close-btn">
        <span class="material-symbols-rounded" onmousedown="disableRatedWindow()">close</span>
    </div>
</div>

<script>
    function disableRatedWindow(){
        document.querySelector(".rated-banner").style.display = "none";
    }
</script>
{% endif %}

{% if not session["logged_in"] %}
<div class="get-started">
    <div class="box-text">So, what are you waiting for? Get started now!</div>
    <div class="action-btns">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>
    <!-- <div class="icon">
        <span class="material-symbols-rounded">switch_access_shortcut</span>
    </div> -->
</div>
{% endif %}

{% endblock %}