{% extends "base.html" %}

{% block content %}

{% if not session["logged_in"] %}
<!-- <div class="username-warning">
    <span class="material-symbols-rounded">warning</span>
    <h2>{{ts["user_warning"]}}</h2>
</div> -->
<div class="banner">
    <div class="bg-img">
        <img src="{{url_for('static', filename='img/bg2.png')}}">
    </div>
    <div class="title-text">{{ts["banner_title"]}}</div>
    <div class="bottom-text">{{ts["banner_bottom"]}}</div>
    <div class="icon">
        <span class="material-symbols-rounded">wc</span>
    </div>
</div>
{% endif %}

{% if session["logged_in"] %}
<div class="banner">
    <div class="bg-img">
        <img src="{{url_for('static', filename='img/bg2.png')}}">
    </div>
    <div class="title-text">{{ts["li_banner_title"]}}</div>
    <div class="bottom-text">{{ts["li_banner_bottom"]}}</div>
    <div class="icon">
        <a href="/rate"><span class="material-symbols-rounded">share_location</span></a>
    </div>
</div>
{% endif %}

{% if not session["logged_in"] %}
<div class="benefit-header">{{ts["benefit_header"]}}</div>

<div class="benefit-cards">
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">warning</span>
        </div>
        <div class="card-texts">
            <div class="card-title">{{ts["card_1_title"]}}</div>
            <div class="card-text">{{ts["card_1_text"]}}</div>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">map</span>
        </div>
        <div class="card-texts">
            <div class="card-title">{{ts["card_2_title"]}}</div>
            <div class="card-text">{{ts["card_2_text"]}}</div>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">star</span>
        </div>
        <div class="card-texts">
            <div class="card-title">{{ts["card_3_title"]}}</div>
            <div class="card-text">{{ts["card_3_text"]}}</div>
        </div>
    </div>
</div>
{% endif %}

<div class="benefit-header">{{ts["explore_header"]}}</div>

<div class="benefit-cards">
    <a href="/leaderboard" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">leaderboard</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["leaderboard"]}}</div>
                <div class="card-text">{{ts["leaderboard_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/explore" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">public</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["explore"]}}</div>
                <div class="card-text">{{ts["explore_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/trending" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">trending_up</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["trending"]}}</div>
                <div class="card-text">{{ts["trending_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/totd" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">calendar_month</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["totd"]}}</div>
                <div class="card-text">{{ts["totd_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/blog" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">auto_stories</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["blog"]}} (WIP)</div>
                <div class="card-text">{{ts["blog_desc"]}}</div>
            </div>
        </div>
    </a>
</div>

{% if rated[0] %}
<div class="rated-banner">
    <h2 class="rated-title">{{rated[1]}}</h2>
    <a href="/explore">{{ts["rated_banner"]}}</a>
    <div class="rated-close-btn">
        <span class="material-symbols-rounded" onmousedown="disableRatedWindow()">close</span>
    </div>
</div>

<script>
    function disableRatedWindow(){
        document.querySelector(".rated-banner").style.display = "none";
    }
</script>
{% endif %}

{% if report != None %}
<script>alert("Thank you for reporting toilet #{{report}}")</script>
{% endif %}

{% if not session["logged_in"] %}
<div class="get-started">
    <div class="box-text">{{ts["cta_banner"]}}</div>
    <div class="action-btns">
        <a href="/login"><button>{{ts["login"]}}</button></a>
        <a href="/register"><button>{{ts["register"]}}</button></a>
    </div>
    <!-- <div class="icon">
        <span class="material-symbols-rounded">switch_access_shortcut</span>
    </div> -->
</div>
{% endif %}

{% endblock %}