{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block head %}
<script src="{{url_for('static', filename='index.js')}}" defer></script>
{% endblock %}

{% block content %}

<!-- {% if not session["logged_in"] %}
<div class="banner">
    <div class="bg-img">
        <img src="{{url_for('static', filename='img/bg2.png')}}">
    </div>
    <div class="title-text">{{ts["banner_title"]}}</div>
    <div class="bottom-text">{{ts["banner_bottom"]}}</div>
    <div class="icon">
        <span class="material-symbols-rounded">wc</span>
    </div>
</div>
{% endif %}

{% if session["logged_in"] %}
<div class="banner">
    <div class="bg-img">
        <img src="{{url_for('static', filename='img/bg2.png')}}">
    </div>
    <div class="title-text">{{ts["li_banner_title"]}}</div>
    <div class="bottom-text">{{ts["li_banner_bottom"]}}</div>
    <div class="icon">
        <a href="/rate"><span class="material-symbols-rounded">share_location</span></a>
    </div>
</div>
{% endif %} -->

<!-- banner with app stats for trust -->

<div class="banner">
    <div class="title">
        Stop Hunting. <br> Start peeing happy.
    </div>
    <div class="subtitle">
        Your shortcut to clean, accessible and rated public toilets. go2klo: Because bad toilets should be a thing of the past.
    </div>
    <div class="app-stats-block">
        <div class="app-stat" style="background: #e6f5d0;">
            <div class="value-text" data-value="25" data-append-text="+">25</div>
            <div class="value-subtitle">active users</div>
        </div>
        <div class="app-stat" style="background: #e7eefa;">
            <div class="value-text" data-value="130" data-append-text="+">130</div>
            <div class="value-subtitle">rated toilets</div>
        </div>
        <div class="app-stat" style="background: #eae9f0;">
            <div class="value-text" data-value="150" data-append-text="+">150</div>
            <div class="value-subtitle">submitted ratings</div>
        </div>
        <div class="app-stat" style="background: #dfe9ed;">
            <div class="value-text" data-value="9" data-append-text="">9</div>
            <div class="value-subtitle">languages</div>
        </div>
    </div>
</div>

<div class="benefit-header">{{ts["explore_header"]}}</div>

<div class="benefit-cards">
    <a href="/leaderboard" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">leaderboard</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["leaderboard"]}}</div>
                <div class="card-text">{{ts["leaderboard_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/explore" style="text-decoration: none;">
        <div class="card explore-card">
            <div class="card-icon">
                <span class="material-symbols-rounded">public</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["explore"]}}</div>
                <div class="card-text">{{ts["explore_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/trending" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">trending_up</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["trending"]}}</div>
                <div class="card-text">{{ts["trending_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/totd" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">calendar_month</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["totd"]}}</div>
                <div class="card-text">{{ts["totd_desc"]}}</div>
            </div>
        </div>
    </a>
    <a href="/blog" style="text-decoration: none;">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-rounded">auto_stories</span>
            </div>
            <div class="card-texts">
                <div class="card-title">{{ts["blog"]}}</div>
                <div class="card-text">{{ts["blog_desc"]}}</div>
            </div>
        </div>
    </a>
    {% if session.logged_in %}
        <a href="/gambling" style="text-decoration: none;">
            <div class="card">
                <div class="card-icon">
                    <span class="material-symbols-rounded">playing_cards</span>
                </div>
                <div class="card-texts">
                    <div class="card-title">{{ts["gambling"]}}</div>
                    <div class="card-text">{{ts["gambling_desc"]}}</div>
                </div>
            </div>
        </a>
    {% endif %}
</div>

{% if not session["logged_in"] %}
<div class="benefit-header">{{ts["benefit_header"]}}</div>

<div class="benefit-cards">
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">warning</span>
        </div>
        <div class="card-texts">
            <div class="card-title">{{ts["card_1_title"]}}</div>
            <div class="card-text">{{ts["card_1_text"]}}</div>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">map</span>
        </div>
        <div class="card-texts">
            <div class="card-title">{{ts["card_2_title"]}}</div>
            <div class="card-text">{{ts["card_2_text"]}}</div>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <span class="material-symbols-rounded">star</span>
        </div>
        <div class="card-texts">
            <div class="card-title">{{ts["card_3_title"]}}</div>
            <div class="card-text">{{ts["card_3_text"]}}</div>
        </div>
    </div>
</div>
{% endif %}

{% if rated[0] %}
<div class="rated-banner">
    <h2 class="rated-title">{{rated[1]}}</h2>
    <a href="/explore">{{ts["rated_banner"]}}</a>
    <div class="rated-close-btn">
        <span class="material-symbols-rounded" onmousedown="disableRatedWindow()">close</span>
    </div>
</div>
{% endif %}

{% if report != None %}
<script>alert("Thank you for reporting toilet #{{report}}")</script>
{% endif %}

{% if not session["logged_in"] %}
<div class="get-started">
    <div class="box-text">{{ts["cta_banner"]}}</div>
    <div class="action-btns">
        <a href="/login"><button>{{ts["login"]}}</button></a>
        <a href="/register"><button>{{ts["register"]}}</button></a>
    </div>
    <!-- <div class="icon">
        <span class="material-symbols-rounded">switch_access_shortcut</span>
    </div> -->
</div>
{% endif %}

{% endblock %}