{% extends "base.html" %}

{% block content %}

<div class="banner">
    <div class="title-text">{{ts["title"]}}</div>
    <div class="bottom-text">{{ts["bottom"]}}</div>
    <div class="icon">
        <span class="material-symbols-rounded">leaderboard</span>
    </div>
</div>

<div class="leaderboard">
    <div class="title">{{ts["leaderboard"]}}</div>
    {% for entry in session.leaderboard %}
        <div class="entry" onmousedown="redirect('/profile/{{ entry.username }}')">
            <a href="/profile/{{entry.username}}">
                <div class="username">{{loop.index}}. @{{entry.username}}</div>
                {% if entry.rank != None and entry.rank != "None" %}
                    <div class="user-rank user-rank-{{entry.rank}}">
                        <span class="material-symbols-rounded">{{icon_map[entry.rank]}}</span>
                        <div>{{entry.rank}}</div>
                    </div>
                {% endif %}
            </a>
            <div class="ratings">{{entry.rating_count}}</div>
        </div>
    {% endfor %}
</div>


<script>
    function redirect(url) {
        window.location.href = url;
    }
</script>

{% endblock %}