{% extends "base.html" %}

{% block content %}

<div class="user-profile">
    <div class="banner">
        <div class="title-text">@{{session["username_" + pid]}}</div>
        <div class="bottom-text">@{{session["username_" + pid]}} {{ts["has"]}} {{session["user_ratings_" + pid]|length}} {{ts["ratings"]}}</div>
        <div class="icon">
            {% if own %}
            <a href="/logout"><span class="material-symbols-rounded">logout</span></a>
            {% else%}
            <span class="material-symbols-rounded">stars</span>
            {% endif %}
        </div>
    </div>

    {% if session["user_ratings_" + pid]|length > 0 %}
    <h2 class="ratings-header">{{ts["ratings_title"]}}:</h2>
    <!-- <ul class="users-ratings">
        {% for rating in session["user_ratings_" + pid] %}
        <li class="rating">
            <a href="/toilet/{{ rating.toilet_id }}"><strong>{{ts["toilet"]}} #{{ rating.toilet_id }}:</strong></a>
            {{ts["cleanliness"]}}: {{ rating.cleanliness }},
            {{ts["supplies"]}}: {{ rating.supplies }},
            {{ts["privacy"]}}: {{ rating.privacy }},
            {{ts["comment"]}}: "{% if '@' in rating.comment %}{{ rating.comment | replace('@' + rating.comment.split('@')[1].split(' ')[0], '<a class="at-mention" href=\"/profile/' + rating.comment.split('@')[1].split(' ')[0] + '\">@' + rating.comment.split('@')[1].split(' ')[0] + '</a>') | safe }}{% else %}{{ rating.comment }}{% endif %}"
        </li>
        {% endfor %}
    </ul> -->

    <div class="comments-list">
        {% for rating in session["user_ratings_" + pid] | reverse %}
            <div class="comment-item">
                <div class="comment-data">
                    <div class="comment-publisher">
                        <a href="/toilet/{{ rating.toilet_id }}"><strong>{{ts["toilet"]}} #{{ rating.toilet_id }}:</strong></a>                    </div>
                    {% if rating.comment.strip() != "" %}
                    <div class="comment-text">
                        <!-- <span class="comment-label">{{ts["comment"]}}:</span> -->
                        <span class="comment-value">
                            {% if '@' in rating.comment %}
                                {{ rating.comment | replace('@' + rating.comment.split('@')[1].split(' ')[0], '<a class="comment-at-mention" href=\"/profile/' + rating.comment.split('@')[1].split(' ')[0] + '\">@' + rating.comment.split('@')[1].split(' ')[0] + '</a>') | safe }}
                            {% else %}
                                {{ rating.comment }}
                            {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <div class="comment text">
                        The User did not leave a comment.
                    </div>
                    {% endif %}
                </div>
                <div class="comment-avg-icon">
                    {% set avg_comment = ((rating.cleanliness + rating.supplies + rating.privacy) / 3) | round(2) %}
                    <span class="comment-avg-icon-star material-symbols-rounded" style="color: rgba(60, 145, 230, {{ avg_comment/5 }});">rate_review</span>
                    <div class="avg-comment-rating">
                        <span>
                            {{ avg_comment }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- <div id="map"></div> -->

    <div class="trophy-case-title">{{ts["trophy_case"]}}</div>

    <div class="trophy-case">
        {% for trophy in session["user_achievements_" + pid] %}
        <div class="trophy">
            <img src="{{ url_for('static', filename='icons/' + trophy + '.png') }}">
            <div class="name">{{trophy | replace("_", " ")}}</div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- <script>
    // europe center as on explore
    var map = L.map('map').setView([51.1657, 10.4515], 3);
    // Add tile layer to the map (OpenStreetMap by default)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add markers for each toilet
    {% for rating in session["user_ratings_" + pid] %}
    L.marker([{{ rating.latitude }}, {{ rating.longitude }}])
        .addTo(map)
        .bindPopup("<b>Toilet #{{ rating.toilet_id }}</b><br>Cleanliness: {{ rating.cleanliness }}<br>Supplies: {{ rating.supplies }}<br>Privacy: {{ rating.privacy }}<br>Comment: {{ rating.comment | escape }}")
        .openPopup();
    {% endfor %}
</script> -->

{% endblock %}
