{% extends "base.html" %}

{% block content %}

<div class="rating-form">
    <form action="/rate/finish" enctype="multipart/form-data" method="post">
        <h2 class="title">{{ts["title"]}}</h2>

        <!-- <iframe src="'https://maps.google.com/maps?q=' + {{lat}} + ',' + {{lng}} + '&t=&z=15&ie=UTF8&iwloc=&output=embed'" /> -->
        <iframe src = "https://maps.google.com/maps?q={{lat}},{{lng}}&hl=es;z=14&amp;output=embed"></iframe>
        
        {% if lat == None and lng == None %}
            <div class="wrong-pin" style="color: #d4040d; font-weight: 600;">{{ts["wrong_1"]}} <a href="/rate">{{ts["try_again_1"]}}</a> {{ts["try_again_2"]}}</div>
        {% else%}
            <div class="wrong-pin">{{ts["wrong_1"]}} <a href="/rate">{{ts["try_again_1"]}}</a> {{ts["try_again_2"]}}</div>
        {% endif %}

        {% if msg != None %}
            <div class="rating-msg msg">{{msg}}</div>
        {% endif %}
        
        {% if rank != None %}
            <div class="rate-img-uploader">
                <input type="file" name="img-input" id="img-input" accept="image/*" onchange="updateUploadCounter(this, 'counter-num')">
                <label for="img-input">
                    <span class="material-symbols-rounded">add_a_photo</span>
                    <div class="uploadcounter">
                        <div class="counter-num">0</div>
                        <div class="counter-text">uploaded</div>
                    </div>
                </label>
                <textarea name="b64-img" id="b64-img" value="" style="display: none;"></textarea>
            </div>
        {% endif %}
    
        <!-- <label for="toilet-name">Enter a name for the toilet:</label>
        <input type="text" name="toilet-name" id="toilet-name" placeholder="toilet name"> -->
    
        <h2 class="subtitle">{{ts["rate_out_of_5"]}}</h2>
    
        <label for="cleanliness">{{ts["cleanliness"]}} (<span id="cleanliness-value">3</span>)</label>
        <input type="range" name="cleanliness" id="cleanliness" min="1" max="5" value="3" oninput="updateValue('cleanliness-value', this.value)">
    
        <label for="supplies">{{ts["supplies"]}} (<span id="supplies-value">3</span>)</label>
        <input type="range" name="supplies" id="supplies" min="1" max="5" value="3" oninput="updateValue('supplies-value', this.value)">
    
        <label for="privacy">{{ts["privacy"]}} (<span id="privacy-value">3</span>)</label>
        <input type="range" name="privacy" id="privacy" min="1" max="5" value="3" oninput="updateValue('privacy-value', this.value)">
    
        <label for="comment">{{ts["comment"]}}</label>
        <textarea name="comment" id="comment" placeholder="{{ts['comment_placeholder']}}" maxlength="400"></textarea>
    
        {% if lat == None and lng == None %}
            <button disabled type="submit">{{ts["submit"]}}</button>
        {% else%}
            <button type="submit">{{ts["submit"]}}</button>
        {% endif %}
    </form>
</div>

{% endblock %}

{% block notifications %}
{% endblock %}
{% block postbtn %}
{% endblock %}
