{% extends "base.html" %}

{% block content %}
<div class="toilet-top-info">
    <h1>{{ts["title"]}}{{ toilet.toilet_id }} ({{toilet.location_str}})</h1>
    {% if session.logged_in %}
    <div class="toilet-top-btns">
        <div class="toilet-report-btn">
            <span class="material-symbols-rounded">flag</span>
            <div onmousedown="reportMenu('open')">{{ts["report"]}}</div>
        </div>
        <div class="rate-this-toilet-btn">
            <span class="material-symbols-rounded">rate_review</span>
            <div onmousedown="redirect('/rate/t/{{toilet.toilet_id}}')">{{ts["rate"]}}</div>
        </div>
    </div>
    
    <div class="report-form">
        <form action="/report" method="POST" enctype="multipart/form-data">
            <div class="report-form-title">{{ts['report']}}</div>
            <input type="hidden" name="toilet_id" value="{{ toilet.toilet_id }}">
            <textarea name="report_text" placeholder="{{ts['report_textarea']}}" required></textarea>
            <button type="submit">
                <span class="material-symbols-rounded">report</span>
            </button>
            <p class="close-report-form" onmousedown="reportMenu('close')">{{ts['cancel']}}</p>
        </form>
    </div>

    <script>
        function reportMenu(action) {
            const reportForm = document.querySelector('.report-form');
            if (action === 'open') {
                reportForm.style.display = 'block';
            } else if (action === 'close') {
                reportForm.style.display = 'none';
            }
        }
    </script>
    {% endif %}
</div>

<!-- Map container -->
<div id="map">
    <a class="get-me-there" href="https://www.google.com/maps/search/?api=1&query={{toilet.latitude}},{{toilet.longitude}}" target="_blank">
        <span class="material-symbols-rounded">directions</span>
    </a>
    <!-- <a class="like-toilet-btn" href="https://www.google.com/maps/search/?api=1&query={{toilet.latitude}},{{toilet.longitude}}" target="_blank">
        <span class="material-symbols-rounded">favorite</span>
    </a> -->
</div>

<!-- Toilet details -->
<!-- <p class="nomobile"><strong>{{ts["address"]}}</strong> {{toilet.address}} <br> <strong>{{ts["location"]}}</strong> {{ts["latitude"]}} {{ toilet.latitude }}, {{ts["longitude"]}} {{ toilet.longitude }}</p> -->

<!-- Average Ratings -->
<h2>Average Rating:</h2>
<div class="avg-ratings">
    <div class="rating-item">
        <span class="material-symbols-rounded" style="color: rgba(60, 145, 230, {{ (toilet.avg_cleanliness | round(2)/5) }});">household_supplies</span>
        <div class="avg-criteria">{{ts["cleanliness"]}}</div>
        <div class="avg-criteria-value">{{ toilet.avg_cleanliness | round(2) }}</div>
    </div>
    <div class="rating-item">
        <span class="material-symbols-rounded" style="color: rgba(60, 145, 230, {{ (toilet.avg_supplies | round(2)/5) }});">shelves</span>
        <div class="avg-criteria">{{ts["supplies"]}}</div>
        <div class="avg-criteria-value">{{ toilet.avg_supplies | round(2) }}</div>
    </div>
    <div class="rating-item">
        <span class="material-symbols-rounded" style="color: rgba(60, 145, 230, {{ (toilet.avg_privacy | round(2)/5) }});">security</span>
        <div class="avg-criteria">{{ts["privacy"]}}</div>
        <div class="avg-criteria-value">{{ toilet.avg_privacy | round(2) }}</div>
    </div>
</div>

<h2>All User Ratings:</h2>

<div class="comments-list">
    {% for rating in toilet.ratings %}
        {% if rating.user.rank != None %}
        <div class="comment-item special special-{{rating.user.rank}}" 
             onmousedown="if(!event.target.closest('.like-rating-icon')) redirect('/profile/{{ rating.user.username }}')">
            <div class="comment-data">
            <div class="comment-publisher">
            <a href="/profile/{{ rating.user.username }}" class="comment-username"><strong>@{{ rating.user.username }}</strong></a>
            <span class="comment-rank">
                <span class="material-symbols-rounded">{{icon_map[rating.user.rank]}}</span>
                <span>{{ rating.user.rank }}</span>
            </span>
            </div>
        {% else %}
        <div class="comment-item" onmousedown="if(!event.target.closest('.like-rating-icon')) redirect('/profile/{{ rating.user.username }}')">
            <div class="comment-data">
            <div class="comment-publisher">
                <a href="/profile/{{ rating.user.username }}" class="comment-username"><strong>@{{ rating.user.username }}</strong></a>
            </div>
        {% endif %}
                {% if rating.comment.strip() != "" %}
                <div class="comment-text">
                    <!-- <span class="comment-label">{{ts["comment"]}}:</span> -->
                    <span class="comment-value">
                        {% if '@' in rating.comment %}
                            {{ rating.comment | replace('@' + rating.comment.split('@')[1].split(' ')[0], '<a class="comment-at-mention" href=\"/profile/' + rating.comment.split('@')[1].split(' ')[0] + '\">@' + rating.comment.split('@')[1].split(' ')[0] + '</a>') | safe }}
                        {% else %}
                            {{ rating.comment }}
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <div class="comment text">
                    The User did not leave a comment.
                </div>
                {% endif %}
            </div>
            <div class="comment-avg-icon">
                {% set avg_comment = ((rating.cleanliness + rating.supplies + rating.privacy) / 3) | round(2) %}
                <span class="comment-avg-icon-star material-symbols-rounded" style="color: rgba(60, 145, 230, {{ avg_comment/5 }});">star_shine</span>
                <div class="avg-comment-rating">
                    <span>
                        {{ avg_comment }}
                    </span>
                </div>
            </div>
            
            {% if session.logged_in %}
            <div class="like-rating-icon">
                {% if rating.liked == True %}
                    <span class="material-symbols-rounded liked" id="like-icon-span-{{rating.rating_id}}" onmousedown="like({{rating.rating_id}})">favorite</span>
                {% else %}
                    <span class="material-symbols-rounded" id="like-icon-span-{{rating.rating_id}}" onmousedown="like({{rating.rating_id}})">favorite_border</span>
                {% endif %}
                <!-- <span class="material-symbols-rounded" style="font-variation-settings: 'FILL' 1">favorite</span> -->
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<script>
    // Create the map
    var map = L.map('map', {
        zoomControl: false // Hier wird das Zoom-Steuerelement deaktiviert
    }).setView([{{ toilet.latitude }}, {{ toilet.longitude }}], 13); // Set map view to toilet coordinates
    // Set the tile Layer (OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add a marker for the toilet location
    var marker = L.marker([{{ toilet.latitude }}, {{ toilet.longitude }}]).addTo(map);
    marker.bindPopup("<b>Toilet #{{ toilet.toilet_id }}</b><br>Location: {{ toilet.latitude }}, {{ toilet.longitude }}").openPopup();
</script>

<script>
    // Function to redirect to a new URL
    function redirect(url) {
        window.location.href = url;
    }

    function like(ratingId) {
        fetch('/api/like-rating/' + ratingId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the like icon or count here if needed
                console.log('Rating liked successfully:');
                document.getElementById('like-icon-span-'+ratingId).classList.toggle('liked'); // Toggle liked class for visual feedback
            } else {
                console.error('Error liking the rating:', data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

{% endblock %}
